.LoginForm{
  display: flex;
  justify-content: center;
  margin: 15px 15px;
}
.LoginForm_username{
  margin-right: 20px;
}
.EditPage{
  display: flex;
  justify-content: center;
}
.EditPage-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
}
.LoginForm-fieldset{
  border-style: none;
}
.Header{
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-decoration: none;
}
.Header-link{
  margin-left: 30px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
